.place__title {
    width: 45.9%;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin-top: 0;
    margin-bottom: 48px;
}

@media (max-width:768px) {
    .place__title {       
        font-size: 42px;
        line-height: 1.1;
        margin-top: 0;
    }
}

@media (max-width:460px) {
    .place__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}