.cover {
    width: 1184px;
    min-height: 740px;
    margin: 13px auto 88px;
}

@media (max-width:1220px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media (max-width:768px) {
    .cover {
        min-height: 480px;
        margin: 27px auto 88px;
    }
}

@media (max-width:585px) {
    .cover {
        min-height: 200px;
        margin: 4px auto 64px;
    }
}