.cover {
    width: 1184px;
    min-height: 740px;
    margin: 0 auto 92px;
}


@media (max-width:1024px) {
    .cover {
        min-height: 640px;

    }
}

@media (max-width:768px) {
    .cover {
        min-height: 480px;
    }
}

@media (max-width:425px) {
    .cover {
        min-height: 200px;
    }
}