@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__paragraph-two/place__paragraph-two.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__website/_link/place__website_link.css);
@import url(../blocks/place/__website/_url-heading/place__website_url-heading.css);


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
        url("Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Italic.woff2?v=3.19") format("woff2"),
        url("Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
        url("Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-BoldItalic.woff2?v=3.19") format("woff2"),
        url("Inter-BoldItalic.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff2?v=3.19") format("woff2"),
        url("Inter-Black.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-BlackItalic.woff2?v=3.19") format("woff2"),
        url("Inter-BlackItalic.woff?v=3.19") format("woff");
}