.cover__title {
    position: relative;
    width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 32px;
   }

@media (max-width:585px) {
    .cover__title {
        width: 255px;
        font-size: 32px;
        line-height: 1.09;
        margin-bottom: 16px;
    }
}