.place {
    width: 984px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    /*grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));*/
    /*grid-column-gap: 40px;
    grid-row-gap: 48px;*/
    gap: 48px 40px;
    grid-template-areas:
        "one two "
        "three four"
        "three five";
    /*align-items: end;*/
    outline: 1px solid rgb(255, 0, 0);
}