.place {
    width: 984px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
}

@media (max-width:1024px) {
    .place {
        width: 928px;
    }
}

@media (max-width:768px) {
    .place {
        width: 720px;
        padding-bottom: 63px;
    }
}

@media (max-width:425px) {
    .place {
        width: 320px;
        padding-bottom: 60px;
    }
}